.git
.gitignore
.venv
.tools
.remote_repo
node_modules
frontend/node_modules
frontend/.next
chroma_store
New folder
*.csv
!PLD CATEGORY FINAL DATASET.csv
*.pptx
*.ipynb
*.sqlite3
*.bin
*.pickle
__pycache__
.pytest_cache
